.settings/
crud/
db/
eclipse/
etc/
logs/
test/
test-result/
lib/
modules/
public/crud
public/securesocial*
securesocial*
target/
tmp/
conf/application.conf
conf/crud
conf/securesocial*
*.class
*.jar
*.log
.DS_Store
.checkstyle
.checkstyle-rules.xml
.classpath
.project
server.pid
system.out
