tmp/
logs/
eclipse/
.settings/
etc/
test/
test-result/
lib/
target/
db/
modules/
conf/application.conf
*.class
*.jar
*.log
server.pid
.DS_Store
.checkstyle
.checkstyle-rules.xml
.classpath
.project
.settings
