.settings/
crud/
db/
eclipse/
etc/
logs/
test/
test-result/
lib/
modules/
public/crud
target/
tmp/
conf/application.conf
conf/crud
*.class
*.jar
*.log
.DS_Store
.checkstyle
.checkstyle-rules.xml
.classpath
.project
server.pid
