/* Vertical Tabs
----------------------------------*/
div#query-editor {
	font-size: 80%;
	float: left;
	padding: 0 0 0 20px;
	height: 550px;
	width: 920px;
}

.ui-tabs-vertical {
	width: 99%;
}

.ui-tabs-vertical .ui-tabs-nav {
	padding: 3px 2px 3px 3px;
	float: left;
	width: 200px;
}

.ui-tabs-vertical .ui-tabs-nav li {
	clear: left;
	width: 100%;
	border-bottom-width: 1px !important;
	border-right-width: 0 !important;
	margin: 0 -1px 3px 0;
}

.ui-tabs-vertical .ui-tabs-nav li a {
	display: block;
	width: 90%;
}

.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected {
	padding-bottom: 0;
	margin-bottom: 2px;
	padding-right: 2px;
	border-right-width: 1px;
	border-right-width: 1px;
}

.ui-tabs-vertical .ui-tabs-panel {
	overflow-y: visible;
	overflow-x: hidden;
	padding: 0 16px 16px 16px;
	float: right;
	width: 670px;
	min-height: 550px;
}

.ui-helper-reset {
    font-size: 100%;
    line-height: 16px;
}

fieldset {
	padding: 15px;
	margin-bottom: 10px;
}

legend {
	font-size: 1.1em;
}