/* Html core setup
----------------------------------*/
html {
	height: 100%;
	margin-bottom: 1px;
}

body {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	color: #333;
	line-height: 1.3em;
	font-size: 12px;
}

input.button {
	cursor: pointer;
}

p {
	margin-top: 0;
	margin-bottom: 5px;
}

img {
	border: 0 none;
}

h1,h2,h3,h4,h5,h6 {
	color: #6B9E31;
}

h1 {
	line-height: 1em;
	margin: 10px 0 6px 0;
	width: 100%;
	font-weight: bold;
	font-size: 1.6em;
	padding: 15px;
}

h2 {
	border-bottom: 1px solid;
	font-size: 1.5em;
	margin-bottom: 8px;
	margin-left: 10px;
	margin-top: 10px;
	padding-bottom: 5px;
}

/* Index elements
----------------------------------*/
#profilepic {
	padding: 3px;
	border: 1px solid #D3D3D3;
}

#indextitle {
	margin-top: 10px;
	font-weight: bold;
	font-size: 1.5em;
}

.valign-middle {
	position: absolute;
	margin: 22px 0 0 15px;
}

.search {
	text-align: left;
	height: 42px;
	padding: 12px 0px 0px 47px;
}

.search .inputbox {
	background: #FFFFFF;
	width: 156px;
	height: 17px;
	font-size: 11px;
	color: #454545;
	padding: 5px 2px 2px 2px;
	border: 1px solid #D3D3D3;
}

.search-option {
	border: 1px solid #4F7425;
	background-color: #A4D56D;
	color: #4F7425;
	border-radius: 3px;
	font-weight: bold;
	padding: 3px 6px 3px 6px;
	width: 80px;
	display: block;
	float: left;
	text-align: center;
	margin-left: 7px;
}

.search-option-checked {
	border: 2px solid #A4D56D;
	background-color: #6B9E31;
	color: #A4D56D;
	padding: 2px 5px 2px 5px;
}

/* Accordion
----------------------------------*/
div#left-panel {
	float: left;
	width: 272px;
}

div#topic-search-bar {
	border: 1px solid #DDDDDD;
	border-radius: 2px;
	display: block;
	width: 256px;
	float: left;
	padding: 10px;
	margin-bottom: 10px;
}

#search-button {
	height: 23px;
	float: left;
	margin-left: 5px;
}

div#available-topics-container {
	border: 1px solid #DDDDDD;
	border-radius: 2px;
	display: block;
	height: 482px;
	width: 270px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 3px;
}

div#available-topics {
	font-size: 95%;
	float: left;
	width: 250px;
}

div#available-topics div {
	font-size: 110%;
}

span.topic-tech-desc {
	font-size : 75%;
}

img.available-topic-icon {
	width:16px;
	height:16px;
	position:absolute;
	margin-left: 10px;
}

.available-topic-title {
	width:160px;
	overflow:hidden;
	display:inline-block;
	white-space:nowrap;
}

/* Dialog panels
----------------------------------*/
div.ui-dialog {
	font-size: 1em;
}

/* Main Layout
----------------------------------*/

#howto-tabs {
	width: 99%;
}

/* Main Layout
----------------------------------*/
#menubar {
	height: 40px;
	width: 980px;
	margin: 0 2px 0 4px;
	background-color: #66AB3C;
	position: absolute;
}

#menutabs {
	background-color: #60c45d;
	border-top: 1px solid #4F7425;
	border-right: 1px solid #4F7425;
	border-left: 1px solid #4F7425;
	height: 31px;
	width: auto;
	float: right;
	margin: 8px 50px 0 0;
	padding-left: 20px;
	padding-right: 0px;
}

#menutabs a:hover {
	background-color: #94C55D;
}

.menubar-tab {
	font-weight: bold;
	padding: 8px 12px;
	color: #FFFFFF;
	display: block;
	float: left;
	width: auto;
}

#account-tab-open {
	color: #000000;
	font-weight: bold;
	background-color: #FFFFFF;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	padding: 9px 12px 8px 12px;
	visibility: hidden;
	z-index: 11;
	font-weight: bold;
	height: 20px;
}

#account-tab-nav {
	background-color: #FFFFFF;
	border: 1px solid black;
	width: 150px;
	height: auto;
	display: block;
	position: absolute;
	visibility: hidden;
	margin-top: 29px;
	z-index: 10;
	padding: 5px 0;
}

.account-icon {
	display: inline-block;
	height: 10px;
	margin-top: -6px;
}

a.account-nav-link {
	display: block;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	padding: 4px 6px 4px 10px;;
	color: #4F7425;
}

a.account-nav-link:hover {
	border-top: 1px solid #4F7425;
	border-bottom: 1px solid #4F7425;
	color: #FFFFFF;
	background-color: #60C45D;
}

#page_bg {
	padding: 3px 0;
	margin-bottom: 1px;
}

div#main_bg {
	margin: 0px auto;
	width: 988px;
}

div#logo_bg {
	height: 69px;
	margin-left: 4px;
	margin-right: 4px;
	width: auto;
}

.success {
	color: rgb(102, 171, 60);
	padding: 20px;
	margin-left: 50px;
	margin-top: 20px;
	border: 1px solid #500;
}

.errors {
	color: #c00;
	padding: 20px;
	margin-left: 50px;
	margin-top: 20px;
	border: 1px solid #500;
}

#maincolumn {
	min-height: 350px;
	width: 966px;
	float: left;
	margin: 40px 0 0 0;
	padding: 0px;
}

div.nopad {
	float: left;
	padding: 0 15px 15px 15px;
}

div.nopad ul {
	clear: both;
}