#{extends 'main.html' /}
#{set title:'Play Project Web Demo' /}
#{set nobanner:true /}

#{if fbInfo != null && fbInfo.get("error") == null}
<div id="indextitle">
	<img id="profilepic" src="http://graph.facebook.com/${fbInfo.get("id").getAsString()}/picture" />
	<span class="valign-middle">Hello <a href='${fbInfo.get("link").getAsString()}'>${fbInfo.get("name").getAsString()}</a></span>
</div>
#{/if} #{else}
<h1 class="pagetitle">Hello ${u.firstname+" "+u.lastname} !</h1>
#{/else}
<br />

<div id="left-panel">
	<div id="topic-search-bar">
		<input id="search" name="search"
			style="width: 80%; float: left;" />
			<input type="image"
			src="@{'/public/images/search_ico.png'}"
			id="search-button" /><br /><br />
		<a href="#"><span id="searchin-title" class="search-option search-option-checked">Titles</span></a>
		<a href="#"><span id="searchin-desc" class="search-option">Descriptions</span></a>
	</div>
	<div id="available-topics-container">
		<div id="available-topics">
			%{ for(int i=0; i < topics.size(); i++){
			}%
			<h3 id="topic-${topics.get(i).getId()}">
				<a href="#">${topics.get(i).title}</a><a href="#"
					class="subscribe-button">Sub</a>
			</h3>
			<div id="desc-topic-${topics.get(i).getId()}"><p>
				<b>Id:</b><br/> ${topics.get(i).id}<br/>
				<b>Description:</b><br/> ${topics.get(i).content}
			</p></div>
			%{	
				}
			%}
		</div>
	</div>
</div>

<div id="topics">
	<div id="tabs">
		<ul id="topic-tabs">
			<li><a href="#tab-alltopics"><span id="unread-all"
					class="unread-count">0</span>All topics</a>
			</li> 
			%{ for(int i=0; i < userTopics.size(); i++){
			}%
			<li><a href="#tab-topic-${userTopics.get(i).getId()}"><span
					id="unread-${userTopics.get(i).getId()}" class="unread-count">0</span>${userTopics.get(i).title}</a>
			</li>
			%{
				}
			}%
		</ul>
		<div id="tab-alltopics">
			<h2>All topics</h2>
			<div id="alltopics-events"></div>
		</div>
		%{ for(int i=0; i<userTopics.size(); i++){
		}%

		<div id="tab-topic-${userTopics.get(i).getId()}">
			<h2>
				${userTopics.get(i).title}<a href="#"
					id="unsubscribe-button-${userTopics.get(i).getId()}"
					class="unsubscribe-button">Unsubscribe</a>
			</h2>
			<div id="topic-events-${userTopics.get(i).getId()}"></div>
		</div>
		%{
			}
		}%
	</div>

	<div id="error1" title="Error">
		<br /> <span class="ui-icon ui-icon-alert"
			style="float: left; margin: -2px 30px 0 15px;"></span>Error : topic
		not found
	</div>
	<div id="error2" title="Error">
		<br /> <span class="ui-icon ui-icon-alert"
			style="float: left; margin: -2px 30px 0 15px;"></span>Error :
		subscription failed
	</div>
	<div id="error3" title="Error">
		<br /> <span class="ui-icon ui-icon-alert"
			style="float: left; margin: -2px 30px 0 15px;"></span>Error :
		unsubscription failed
	</div>
	<div id="error4" title="Error">
		<br /> <span class="ui-icon ui-icon-alert"
			style="float: left; margin: -2px 30px 0 15px;"></span>Error :
		disconnected
	</div>
</div>

<div style="clear: left; padding-top: 30px;">
	<input id="send0" type="button" value="Send event on internalns_rootTopic1" /><br />
	<input id="send1" type="button" value="Send event on internalns_childTopic1" /><br />
	<input id="send2" type="button" value="Send event on internalns_grandChildTopic21" /><br />
	<input id="send3" type="button" value="Send event on internalns_childTopic3" /><br />
</div>

<script type="text/javascript">
$(function() {
	$("#available-topics").accordion({
			autoHeight: false,
			navigation: true,
			collapsible: true
	});
    $("#topic-tabs").sortable({
            distance: 10,
            opacity: 0.7,
            revert: 100,
            scroll: true,
            helper: 'clone',
            zIndex: 50000
	});
	$("#tabs").tabs().addClass('ui-tabs-vertical ui-helper-clearfix');
	$("#tabs li").removeClass('ui-corner-top').addClass('ui-corner-left');
	$(".ui-tabs-vertical .ui-tabs-panel").height($(".ui-tabs-nav").first().height());
	
	$("#error1, #error2, #error3").dialog({
		resizable: false,
		draggable: false,
		autoOpen: false,
		modal: true,
		height: 120,
		buttons: {
			Ok: function() {
				$(this).dialog("close");
			}
		}
	});
	$("#error4").dialog({
		resizable: false,
		draggable: false,
		autoOpen: false,
		modal: true,
		height: 120,
		buttons: {
			Ok: function() {
				location.href = "/";
			}
		}
	});
	
	var subAction = #{jsAction @subscribe(':topicId') /}
	$("a.subscribe-button").live('click', function() {
		var $id = $(this).parent().attr('id');
		var $sid = $id.substring($id.lastIndexOf('-') + 1);
	    $.ajax({
            url: subAction({topicId: $sid}),
            type: 'POST',
	        dataType: 'json',
	        success: function(results) {
	            $(results).each(function() {
		            if(this.id != "-1"){
						$("#available-topics").accordion("destroy");
						$('#topic-'+this.id+'').remove();
						$('#desc-topic-'+this.id+'').remove();
						$("#available-topics").accordion({
							autoHeight: false,
							navigation: true,
							collapsible: true
						});
						$('#tabs').tabs('add','#tab-topic-'+this.id+'','<span id="unread-'+this.id+'" class="unread-count">0</span>'+this.title);
						$('#tab-topic-'+this.id).html('<h2>'+this.title+'<a href="#" id="unsubscribe-button-'+this.id+'" class="unsubscribe-button">Unsubscribe</a></h2><div id="topic-events-'+this.id+'"></div>');
					} else {
						$("#error2").dialog("open");
					}
				})
	        },
	        error: function() {
				$("#error1").dialog("open");
				$("#available-topics").accordion( "option", "disabled", false );
	        }
	    });
	});
	
	var unsubAction = #{jsAction @unsubscribe(':topicId') /}
	$("a.unsubscribe-button").live('click', function() {
		var $id = $(this).attr('id');
		var $sid = $id.substring($id.lastIndexOf('-') + 1);
	    $.ajax({
            url: unsubAction({topicId: $sid}),
            type: 'POST',
	        dataType: 'json',
	        success: function(results) {
	            $(results).each(function() {
		            if(this.id != "-1"){
						$("#available-topics")
							.accordion("destroy")
							.append('<h3 id="topic-'+this.id+'"><a href="#">'+this.title+'</a><a href="#" class="subscribe-button">Sub</a></h3><div id="desc-topic-'+this.id+'"><p><b>Id:</b><br/> '+this.id+'<br/><b>Description:</b><br/> '+this.content+'</p></div>')
							.accordion({
									autoHeight: false,
									navigation: true,
									collapsible: true
							});
						$("#tabs").tabs("remove", $("#tabs").tabs("option", "selected"));
					} else {
						$("#error1").dialog("open");
					}
				})
	        },
	        error: function() {
				$("#error3").dialog("open");
	        }
	    });
	});
});

var $lastReceived = 0
var waitEvents = #{jsAction @waitEvents(':lastReceived') /}
%{
	String txt = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper laoreet fermentum. Cras placerat dui pharetra arcu ultricies sit amet commodo tortor molestie.";
}%
var send0 = #{jsAction @sendEvent('Event !', txt, 'internalns_rootTopic1') /}
var send1 = #{jsAction @sendEvent('Event !', txt, 'internalns_childTopic1') /}
var send2 = #{jsAction @sendEvent('Event !', txt, 'internalns_grandChildTopic21') /}
var send3 = #{jsAction @sendEvent('Event !', txt, 'internalns_childTopic3') /}

$("#send0").click(function(e) {
	$.post(send0())
});
$("#send1").click(function(e) {
	$.post(send1())
});
$("#send2").click(function(e) {
	$.post(send2())
});
$("#send3").click(function(e) {
	$.post(send3())
});

var getEvents = function() {
	$.ajax({
		url: waitEvents({lastReceived: $lastReceived}),
		type: 'GET',
		dataType: 'json',
		success: function(events) {
			if(events.error == "disconnected"){
				$("#error4").dialog("open")
			}
			var k = events.length;
			$(events).each(function() {
				k--;
				display(this, (k == 0));
				$lastReceived = this.id;
			})
			getEvents()
		},
		error: function() {
			getEvents();
		}
	});
}

var display = function(event, blink) {
	if(blink){
		$('#unread-'+event.data.topicId).parent().animate({
			"color": "#FF0"
		}, 200);
	}
	
	var cptall = parseInt($('#unread-all').html());
	$('#unread-all').html(cptall+1);
	var cpt = parseInt($('#unread-'+event.data.topicId).html());
	$('#unread-'+event.data.topicId).html(cpt+1);
	
	if(blink){
		$('#unread-'+event.data.topicId).parent().animate({
			"color": "#4F7425"
		}, 200);
	}
	
	$('#topic-events-'+event.data.topicId)
		.prepend('<div id="event-'+event.id+'" class="event"><h3>'+event.id+' : '+event.data.title+'</h3><p>'+event.data.content+'</p></div>');
	$('#event-'+event.id).hide().fadeIn();
	
	$('#alltopics-events')
		.prepend('<div id="eventall-'+event.id+'" class="event"><h3>'+event.id+' : '+event.data.title+'</h3><p>'+event.data.content+'</p></div>');
	$('#eventall-'+event.id).hide().fadeIn();
}

var searchAction = #{jsAction @searchTopics() /}
$('#search-button').bind("click", function(){
	search();
});
$('#search').bind('keypress', function(e) {
	if ((e.keyCode || e.which) == 13){
		search();
	}
});


var search = function() {
	var searchtitle = $('#searchin-title').hasClass('search-option-checked');
	var searchdesc = $('#searchin-desc').hasClass('search-option-checked');
	$.post(
		searchAction(),
		{search:$("#search").prop("value"), title:searchtitle, desc:searchdesc},
		function(data) {
			$("#available-topics")
				.accordion("destroy")
				.html(data)
				.accordion({
					autoHeight: false,
					navigation: true,
					collapsible: true
				});
		},
		'html');
}

$('.search-option').bind('click', function(){
	if($(this).hasClass('search-option-checked')){
		$(this).removeClass('search-option-checked');
	} else {
		$(this).addClass('search-option-checked');
	}
	search();
});

$(document).ready(function(){
	getEvents();
});
</script>