#{extends 'main.html' /}
#{set title:'Home' /}

<style type="text/css">
/* Accordion
----------------------------------*/

div#available-streams-container {
	border: 1px solid #DDDDDD;
	border-radius: 2px;
	diplay: block;
	height: 500px;
	width: 270px;
	overflow-y: scroll;
	overflow-x: hidden;
	float: left;
	padding: 3px;
}

div#available-streams {
	font-size: 72.5%;
	float: left;
	width: 250px;
}

/* Vertical Tabs
----------------------------------*/
.ui-tabs-vertical { width: 700px; }
.ui-tabs-vertical .ui-tabs-nav { padding: 3px 2px 3px 3px; float: left; width: 230px; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px 3px 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; width:90%; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 0; margin-bottom: 2px; padding-right: 2px; border-right-width: 1px; border-right-width: 1px; }

div#streams {
	font-size: 65%;
	float: left;
	padding: 0 0 0 20px;
	height: 500px;
}

.ui-tabs-vertical .ui-tabs-panel {
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 0 16px 16px 16px;
	float: right;
	width: 430px;
	min-height: 486px;
}

.event {
	margin-top: 10px;
}
.event h3 {
	font-size: 12px;
	margin-bottom: 5px;
}

a.subscribe-button {
	position: absolute;
	margin-top: -27px;
	margin-left: 140px;
}
a.subscribe-button:hover {
	color: #EE0;
}

a.unsubscribe-button {
	position: absolute;
	margin-top: 2px;
	margin-left: 220px;
	font-size: 55%;
	text-decoration: none;
	font-weight: bold;
}
a.unsubscribe-button:hover {
	color: #EE0;
}

.unread-count {
	float: right;
	width: 100px;
	text-align: right;
}

.ui-dialog {
	font-size: 72.5%;
}
</style>

<h1 class="pagetitle">Hello ${username ?: 'Guest'} !</h1>

<div id="available-streams-container">
	<div id="available-streams">
	<h3 id="stream-5000"><a href="#">Error Stream</a><a href="#" class="subscribe-button">Subscribe</a></h3>
	<div id="desc-stream-5000"><p>
	A stream to generate errors
	</p></div>
	%{
		for(int i=0; i<streams.size(); i++){
	}%
		<h3 id="stream-${streams.get(i).id}"><a href="#">${streams.get(i).title}</a><a href="#" class="subscribe-button">Subscribe</a></h3>
		<div id="desc-stream-${streams.get(i).id}"><p>
		${streams.get(i).content}
		</p></div>
	%{	
		}
	%}
	</div>
</div>

<div id="streams">
	<div id="tabs">
		<ul id="stream-tabs">
			<li><a href="#tab-allstreams"><span id="unread-all" class="unread-count">0</span>All streams</a></li>
			%{
				for(int i=0; i<userStreams.size(); i++){
			}%
					<li><a href="#tab-stream-${userStreams.get(i).id}"><span id="unread-${userStreams.get(i).id}" class="unread-count">0</span>${userStreams.get(i).title}</a></li>
			%{
				}
			}%
		</ul>
		<div id="tab-allstreams">
			<h2>All streams</h2>
			<div id="allstreams-events">
			</div>
		</div>
		%{
			for(int i=0; i<userStreams.size(); i++){
		}%
			<div id="tab-stream-${userStreams.get(i).id}">
				<h2>${userStreams.get(i).title}<a href="#" id="unsubscribe-button-${userStreams.get(i).id}" class="unsubscribe-button">Unsubscribe</a></h2>
				<div id="stream-events-${userStreams.get(i).id}">
				</div>
			</div>
		%{
			}
		}%
	</div>
	
	<div id="error1" title="Error"><br/><span class="ui-icon ui-icon-alert" style="float:left; margin:-2px 30px 0 15px;"></span>Error : stream not found</div>
	<div id="error2" title="Error"><br/><span class="ui-icon ui-icon-alert" style="float:left; margin:-2px 30px 0 15px;"></span>Error : subscription failed</div>
	<div id="error3" title="Error"><br/><span class="ui-icon ui-icon-alert" style="float:left; margin:-2px 30px 0 15px;"></span>Error : unsubscription failed</div>
</div>

<div style="clear:left; padding-top:30px;">
	<input id="send0" type="button" value="Send event on Stream 1" /><br/>
	<input id="send1" type="button" value="Send event on Stream 2" /><br/>
	<input id="send2" type="button" value="Send event on Stream 3" /><br/>
	<input id="send3" type="button" value="Send event on Stream 4" /><br/><br/>
	<input id="test" type="button" value="Test" /><br/><br/>
</div>

<script type="text/javascript">
$(function() {
	$("#available-streams").accordion({
			autoHeight: false,
			navigation: true,
			collapsible: true
	});
	/*
	$("#available-streams").sortable({
            delay: 300,
            opacity: 0.7,
            revert: 100,
            scroll: true,
            helper: 'original',
            zIndex: 50000
    });
	*/
    $("#stream-tabs").sortable({
            distance: 10,
            opacity: 0.7,
            revert: 100,
            scroll: true,
            helper: 'clone',
            zIndex: 50000
	});
	$("#tabs").tabs().addClass('ui-tabs-vertical ui-helper-clearfix');
	$("#tabs li").removeClass('ui-corner-top').addClass('ui-corner-left');
	$(".ui-tabs-vertical .ui-tabs-panel").height($(".ui-tabs-nav").first().height());
	
	$("#error1, #error2, #error3").dialog({
		resizable: false,
		draggable: false,
		autoOpen: false,
		modal: true,
		height: 120,
		buttons: {
			Ok: function() {
				$(this).dialog("close");
			}
		}
	});
	
	var subAction = #{jsAction @subscribe(':streamId') /}
	$("a.subscribe-button").live('click', function() {
		var $id = $(this).parent().attr('id');
		var $sid = $id.substring($id.lastIndexOf('-') + 1);
		$("#available-streams").accordion( "option", "disabled", true );
	    $.ajax({
            url: subAction({streamId: $sid}),
            type: 'POST',
	        dataType: 'json',
	        success: function(results) {
	            $(results).each(function() {
		            if(this.id != "-1"){
						$('#stream-'+this.id).remove();
						$('#desc-stream-'+this.id).remove();
						$('#tabs').tabs('add','#tab-stream-'+this.id,'<span id="unread-'+this.id+'" class="unread-count">0</span>'+this.title);
						$('#tab-stream-'+this.id).html('<h2>'+this.title+'<a href="#" id="unsubscribe-button-'+this.id+'" class="unsubscribe-button">Unsubscribe</a></h2><div id="stream-events-'+this.id+'"></div>');
					} else {
						$("#error2").dialog("open");
					}
				})
				$("#available-streams").accordion( "option", "disabled", false );
	        },
	        error: function() {
				$("#error1").dialog("open");
				$("#available-streams").accordion( "option", "disabled", false );
	        }
	    });
	});
	
	var unsubAction = #{jsAction @unsubscribe(':streamId') /}
	$("a.unsubscribe-button").live('click', function() {
		var $id = $(this).attr('id');
		var $sid = $id.substring($id.lastIndexOf('-') + 1);
	    $.ajax({
            url: unsubAction({streamId: $sid}),
            type: 'POST',
	        dataType: 'json',
	        success: function(results) {
	            $(results).each(function() {
		            if(this.id != "-1"){
						$("#available-streams")
							.sortable("destroy")
							.accordion("destroy")
							.append('<h3 id="stream-'+this.id+'"><a href="#">'+this.title+'</a><a href="#" class="subscribe-button">Subscribe</a></h3><div id="desc-stream-'+this.id+'"><p>'+this.content+'</p></div>')
							.accordion({
									autoHeight: false,
									navigation: true,
									collapsible: true
							});
						$("#tabs").tabs("remove", $("#tabs").tabs("option", "selected"));
					} else {
						$("#error1").dialog("open");
					}
				})
	        },
	        error: function() {
				$("#error3").dialog("open");
	        }
	    });
	});
});

var $lastReceived = 0
var waitEvents = #{jsAction @waitEvents(':lastReceived') /}
%{
	String txt = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper laoreet fermentum. Cras placerat dui pharetra arcu ultricies sit amet commodo tortor molestie.";
}%
var send0 = #{jsAction @sendEvent('Event !', txt, 0) /}
var send1 = #{jsAction @sendEvent('Event !', txt, 1) /}
var send2 = #{jsAction @sendEvent('Event !', txt, 2) /}
var send3 = #{jsAction @sendEvent('Event !', txt, 3) /}

$("#send0").click(function(e) {
	$.post(send0())
});
$("#send1").click(function(e) {
	$.post(send1())
});
$("#send2").click(function(e) {
	$.post(send2())
});
$("#send3").click(function(e) {
	$.post(send3())
});

$("#test").click(function(e) {
	var $selectedTab = $("#tabs").tabs('option', 'selected');
	alert($selectedTab);
});

var getEvents = function() {
	$.ajax({
		url: waitEvents({lastReceived: $lastReceived}),
		type: 'GET',
		dataType: 'json',
		success: function(events) {
			var k = events.length;
			$(events).each(function() {
				k--;
				display(this, (k == 0));
				$lastReceived = this.id;
			})
			getEvents()
		},
		error: function() {
			getEvents();
		}
	});
}

var display = function(event, blink) {
	if(blink){
		$('#unread-'+event.data.streamId).parent().animate({
			"color": "#FF0"
		}, 200);
	}
	
	var cptall = parseInt($('#unread-all').html());
	$('#unread-all').html(cptall+1);
	var cpt = parseInt($('#unread-'+event.data.streamId).html());
	$('#unread-'+event.data.streamId).html(cpt+1);
	
	if(blink){
		$('#unread-'+event.data.streamId).parent().animate({
			"color": "#4F7425"
		}, 200);
	}
	
	$('#stream-events-'+event.data.streamId)
		.prepend('<div id="event-'+event.id+'" class="event"><h3>'+event.id+' : '+event.data.title+'</h3><p>'+event.data.content+'</p></div>');
	$('#event-'+event.id).hide().fadeIn();
	
	$('#allstreams-events')
		.prepend('<div id="eventall-'+event.id+'" class="event"><h3>'+event.id+' : '+event.data.title+'</h3><p>'+event.data.content+'</p></div>');
	$('#eventall-'+event.id).hide().fadeIn();
}

$(document).ready(function(){
	getEvents();
});
</script>