#{extends 'main.html' /}
#{set title:'Home' /}

<style type="text/css">

/* Accordion
----------------------------------*/

div#available-streams-container {
	border: 1px solid #DDDDDD;
	border-radius: 2px;
	diplay: block;
	height: 500px;
	width: 270px;
	overflow-y: scroll;
	overflow-x: hidden;
	float: left;
	padding: 3px;
}

div#available-streams {
	font-size: 72.5%;
	float: left;
	width: 250px;
}

/* Vertical Tabs
----------------------------------*/
.ui-tabs-vertical { width: 700px; }
.ui-tabs-vertical .ui-tabs-nav { padding: 3px 2px 3px 3px; float: left; width: 230px; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px 3px 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; width:90%; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 0; margin-bottom: 2px; padding-right: 2px; border-right-width: 1px; border-right-width: 1px; }

div#streams {
	font-size: 65%;
	float: left;
	padding: 0 0 0 20px;
	height: 500px;
}

.ui-tabs-vertical .ui-tabs-panel {
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 0 16px 16px 16px;
	float: right;
	width: 430px;
	min-height: 486px;
}

a.subscribe-button {
	position : absolute;
	margin-top : -27px;
	margin-left : 140px;
}
a.subscribe-button:hover {
	color: #EE0;
}
</style>

<script type="text/javascript">
$(function() {
	$("#available-streams").accordion({
			autoHeight: false,
			navigation: true,
			collapsible: true
	});
	$("#available-streams").sortable({
            delay: 300,
            opacity: 0.7,
            revert: 100,
            scroll: true,
            helper: 'original',
            zIndex: 50000
    });
    $("#stream-tabs").sortable({
            distance: 20,
            opacity: 0.7,
            revert: 100,
            scroll: true,
            helper: 'clone',
            zIndex: 50000
	});
	$("#tabs").tabs().addClass('ui-tabs-vertical ui-helper-clearfix');
	$("#tabs li").removeClass('ui-corner-top').addClass('ui-corner-left');
	$(".ui-tabs-vertical .ui-tabs-panel").height($(".ui-tabs-nav").first().height());
	
	var subAction = #{jsAction @subscribe(':streamId') /}
	$("a.subscribe-button").click(function(event){
		event.stopPropagation();
		var id = $(this).parent().attr('id');
		var sid = id.substring(id.lastIndexOf('-') + 1);
		$("#available-streams").accordion( "option", "disabled", true );
	    $.ajax({
            url: subAction({streamId: sid}),
            type: 'POST',
	        dataType: 'json',
	        success: function(results) {
	            $(results).each(function() {
					$('#stream-'+this.id).remove();
					$('#desc-stream-'+this.id).remove();
					$('#tabs').tabs('add','#tab-stream'+this.id,this.title);
					$('#tab-stream'+this.id).html('<h2>'+this.title+'</h2><div id="stream'+this.id+'-events"></div>');
				})
				$("#available-streams").accordion( "option", "disabled", false );
	        },
	        error: function() {
	            alert('Subscribe : error');
				$("#available-streams").accordion( "option", "disabled", false );
	        }
	    });
	});
});
</script>

<h1 class="pagetitle">Hello ${username ?: 'Guest'} !</h1>

<div id="available-streams-container">
	<div id="available-streams">
	%{
		for(int i=0; i<streams.size(); i++){
	}%
		<h3 id="stream-${streams.get(i).id}"><a href="#">${streams.get(i).title}</a><a href="#" class="subscribe-button">Subscribe</a></h3>
		<div id="desc-stream-${streams.get(i).id}"><p>
		${streams.get(i).content}
		</p></div>
	%{	
		}
	%}
	</div>
</div>

<div id="streams">
	<div id="tabs">
		<ul id="stream-tabs">
			<li><a href="#tab-allstreams">All streams</a></li>
			%{
				for(int i=0; i<userStreams.size(); i++){
			}%
					<li><a href="#tab-stream${userStreams.get(i).id}">${userStreams.get(i).title}</a></li>
			%{
				}
			}%
		</ul>
		<div id="tab-allstreams">
			<h2>All streams</h2>
			<div id="allstreams-events">
			</div>
		</div>
		%{
			for(int i=0; i<userStreams.size(); i++){
		}%
			<div id="tab-stream${userStreams.get(i).id}">
				<h2>${userStreams.get(i).title}</h2>
				<div id="stream${userStreams.get(i).id}-events">
				</div>
			</div>
		%{
			}
		}%
	</div>
</div>

<div style="clear:left; padding-top:30px;">
	<input id="send0" type="button" value="Send event on Stream 1" /><br/>
	<input id="send1" type="button" value="Send event on Stream 2" /><br/>
	<input id="send2" type="button" value="Send event on Stream 3" /><br/>
	<input id="send3" type="button" value="Send event on Stream 4" /><br/><br/>
</div>

<script type="text/javascript">
    var lastReceived = 0
    var waitEvents = #{jsAction @waitEvents(':lastReceived') /}
    var send0 = #{jsAction @sendEvent('Event !','Un test de long polling', 0) /}
    var send1 = #{jsAction @sendEvent('Event !','Un test de long polling', 1) /}
    var send2 = #{jsAction @sendEvent('Event !','Un test de long polling', 2) /}
    var send3 = #{jsAction @sendEvent('Event !','Un test de long polling', 3) /}
    
    $('#send0').click(function(e) {
        $.post(send0())
    });
    $('#send1').click(function(e) {
        $.post(send1())
    });
    $('#send2').click(function(e) {
        $.post(send2())
    });
    $('#send3').click(function(e) {
        $.post(send3())
    });
    
	var getEvents = function() {
	    $.ajax({
            url: waitEvents({lastReceived: lastReceived}),
            type: 'GET',
	        dataType: 'json',
	        success: function(events) {
	            $(events).each(function() {
	                display(this)
                    lastReceived = this.id
	            })
	            getEvents()
	        },
	        error: function() {
	            getEvents();
	        }
	    });
	}
	
	var display = function(event) {
	    $('#allstreams-events').prepend('<div id="event'+event.id+'" class="event"><h3>'+event.id+' : '+event.data.title+'</h3><p>'+event.data.content+'</p></div>');
	    $('#stream'+event.data.streamId+'-events').prepend('<div id="event'+event.id+'" class="event"><h3>'+event.id+' : '+event.data.title+'</h3><p>'+event.data.content+'</p></div>');
	}
	
	$(document).ready(function(){
		getEvents();
	});
</script>