#{extends 'main.html' /} #{set title:'Login' /}

<h1>Login</h1>

#{if flash.error}
<p style="color: #c00">${flash.error}</p>
#{/if}

<div style="margin-left: 75px; width: 700px;">

	<form id="loginform" action="@{Application.processLogin()}"
		method="POST" class="formular" style="float: left;">
		<fieldset>
			<legend>Login</legend>
			<label><span>Email:</span> <input type="text" name="email"
				id="email" class="validate[required,custom[email]] text-input" /><br />
			</label> <label><span>Password:</span> <input 
				name="password" id="password" class="validate[required] text-input"
				type="password" /> </label>
		</fieldset>
		<input type="submit" class="submit" value="Connect" />
		<hr />
	</form>

	<div
		style="float: left; margin-left: 50px; height: 190px; font-weight: bold;">
		<span style="float: left;">Or</span>
		<div
			style="width: 200px; height: 45%; margin-left: 60px; border: 1px solid #A5A8B8; padding: 20px; text-align: center;">
			<a href="@{Authentifier.facebookAuth()}">Login with Facebook </a><br/><br/><br/><br/>
			<a href="@{Authentifier.googleAuth()}">Login with Google </a>
		</div>
		<div
			style="width: 200px; height: 45%; margin-left: 60px; margin-top: 10%; border: 1px solid #A5A8B8; padding: 20px; text-align: center;">
			<p>Not registered yet ?</p>
			<a href="@{Application.register()}">Create an account now</a>
		</div>
	</div>
</div>

<script type="text/javascript">
	jQuery(document).ready(function() {
		// binds form submission and fields to the validation engine
		jQuery("#loginform").validationEngine();
	});
</script>