#{extends 'main.html' /} #{set title:'Play Project Web Demo' /} #{set
nobanner:true /} #{set nofooter:true /}

<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/tabsquery.css'}">

<h1>Pattern</h1>

#{if flash.get("error")}
<p class="errors">
	%{ String[] errors = flash.get("error"); for(String e : errors){
	if(!e.equals("[") && !e.equals("]")){ out.print(e); }
	if(e.equals(",")){ out.println("<br />"); } } %}
</p>
%{ out.print("<br />"); %} #{/if}

<div id="query-editor">
	<div id="query-editor-tabs">
		<ul id="tabs">
			<li><a href="#tab-query-word">Easy query editor</a></li>
			<li><a href="#tab-query-select">Advanced query editor</a></li>
			<li><a href="#tab-query-text">Expert query editor</a></li>
		</ul>
		<div id="tab-query-word">
			<h2>Easy query editor</h2>
			<div>
				<form action="@{Application.processTokenPatternQuery()}" method="POST">
					<fieldset>
						<legend>Here, you can register a new word to be notified</legend>
						Notify me when <input id="token" name="token" type="text" value="JEANS" required="required" />
						occurs 3 times within 30 minutes in my Facebook friends statuses.
					</fieldset>
					<fieldset>
						<legend>Event Level Requirements</legend>
						Monitoring latency : <input type="checkbox" name="latency" /><br />
						Maximum events per time : <input type="checkbox"
							name="maxevents-bool" />&nbsp;&nbsp;&nbsp;&nbsp;<input
							type="text" name="maxevents-value" size="5" /> per <select
							name="maxevents-unit">
							<option value="sec">sec</option>
							<option value="min">min</option>
							<option value="hour">hour</option>
							<option value="day">day</option>
						</select>
					</fieldset>
					<fieldset>
						<legend>Event Topic for query :</legend>
						Enter a topic name : <input type="text" name="eventtopic" required="required"
							value="${eu.play_project.play_commons.constants.Stream.Stream.FacebookCepResults.getTopicUri()}"
							size="80" />
					</fieldset>
					<input type="submit" value="Send query" />
				</form>
			</div>
		</div>
		<div id="tab-query-select">
			<h2>Advanced query editor</h2>
						<div>
				<form action="@{Application.processFullPatternQuery()}" method="POST">
					<fieldset>
						<legend>Here, you can compose your own query</legend>
						<div>EVENT</div>
					</fieldset>
					<fieldset>
						<legend>Event Level Requirements</legend>
						Monitoring latency : <input type="checkbox" name="latency" /><br />
						Maximum events per time : <input type="checkbox"
							name="maxevents-bool" />&nbsp;&nbsp;&nbsp;&nbsp;<input
							type="text" name="maxevents-value" size="5" /> per <select
							name="maxevents-unit">
							<option value="sec">sec</option>
							<option value="min">min</option>
							<option value="hour">hour</option>
							<option value="day">day</option>
						</select>
					</fieldset>
					<fieldset>
						<legend>Event Topic for query :</legend>
						Enter en topic name : <input type="text" name="eventtopic-name"
							value="${eu.play_project.play_commons.constants.Stream.Stream.FacebookCepResults.getTopicUri()}"
							size="80" />
					</fieldset>
					<input type="submit" value="Send query" />
				</form>
			</div>
		</div>
		<div id="tab-query-text">
			<h2>Expert query editor</h2>
			<div>
				<form action="@{Application.processFullPatternQuery()}"
					method="POST">
					<fieldset>
						<legend>Here, you can write the full EP-SPARQL query :</legend>
						<textarea id="text" name="text" type="text" cols="90" rows="24">
${models.PredefinedPatterns.getPattern("play-epsparql-m12-jeans-example-query.eprq")}
						</textarea>
					</fieldset>
					<fieldset>
						<legend>Event Level Requirements</legend>
						Monitoring latency : <input type="checkbox" name="latency" /><br />
						Maximum events per time : <input type="checkbox"
							name="maxevents-bool" />&nbsp;&nbsp;&nbsp;&nbsp;<input
							type="text" name="maxevents-value" size="5" /> per <select
							name="maxevents-unit">
							<option value="sec">sec</option>
							<option value="min">min</option>
							<option value="hour">hour</option>
							<option value="day">day</option>
						</select>
					</fieldset>
					<fieldset>
						<legend>Event Topic for query :</legend>
						Enter en topic name : <input type="text" name="eventtopic" required="required"
							value="${eu.play_project.play_commons.constants.Stream.Stream.FacebookCepResults.getTopicUri()}"
							size="80" />
					</fieldset>
					<input type="submit" value="Send query" />
				</form>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(
			function() {
				$("#query-editor-tabs").tabs().addClass(
						'ui-tabs-vertical ui-helper-clearfix');
				$("#query-editor-tabs li").removeClass('ui-corner-top')
						.addClass('ui-corner-left');
				$(".ui-tabs-vertical .ui-tabs-panel").height(
						$(".ui-tabs-nav").first().height());
			});
</script>