#{extends 'main.html' /}
#{set title:'Play Project Web Demo' /}
#{set nobanner:true /}
#{set nofooter:true /}

<h1>Pattern</h1>

#{if flash.get("error")}
<p class="errors">
	%{ String[] errors = flash.get("error"); for(String e : errors){
	if(!e.equals("[") && !e.equals("]")){ out.print(e); }
	if(e.equals(",")){ out.println("<br />"); } } %}
</p>
%{ out.print("<br />"); %} #{/if}

Add a new recognized word into Facebook Status events :<br/>
<form action="@{Application.processPatternQuery()}">
<input id="token" name="token" type="text" value="" />
<input type="submit" value="Send query" />
</form>