#{extends 'main.html' /}
#{set title:'Play Project Web Demo' /}
#{set nobanner:true /}
#{set nofooter:true /}

<h1>Pattern</h1>

#{if flash.get("error")}
<p class="errors">
	%{ String[] errors = flash.get("error"); for(String e : errors){
	if(!e.equals("[") && !e.equals("]")){ out.print(e); }
	if(e.equals(",")){ out.println("<br />"); } } %}
</p>
%{ out.print("<br />"); %} #{/if}

Here, you can register a new word to be notified :<br/><br/>
<form action="@{Application.processPatternQuery()}">
Notify me when <input id="token" name="token" type="text" value="" /> occurs 3 times within 30 minutes in my Facebook friends statuses.<br/><br/>
<input type="submit" value="Send query" />
</form>