#{extends 'main.html' /} #{set title:'Registration' /}

<h1>Registration</h1>

#{if flash.get("error")}
<p class="errors">
	%{ String[] errors = flash.get("error"); for(String e : errors){
	if(!e.equals("[") && !e.equals("]")){ out.print(e); }
	if(e.equals(",")){ out.println("<br />"); } } %}
</p>
%{ out.print("<br />"); %} #{/if}

<div style="margin-left:50px; margin-top:20px;">
#{if fbInfo != null}
<form id="registerform" action="@{Application.processRegistration()}"
	method="POST" class="formular">
	<fieldset>
		<legend>Email</legend>
		<label><span>Email: </span><input type="text" name="email"
			id="email" class="validate[required,custom[email]] text-input"
			value="${fbInfo.get("email").getAsString()}" /> </label>
		<label><span>Confirm email: </span><input type="text" name="emailconf" id="emailconf"
			class="validate[required,custom[email],equals[email]] text-input"
			value="${fbInfo.get("email").getAsString()}" /> </label>
	</fieldset>
	<fieldset>
		<legend>Password</legend>
		<label><span>Password: </span><input
			name="password" id="password" class="validate[required],minSize[6] text-input"
			type="password" /> </label><br />
		<label><span>Confirm password: </span><input name="passwordconf" id="passwordconf"
			class="validate[required],equals[password] text-input"
			type="password" /> </label><br />
	</fieldset>
	<fieldset>
		<legend>Personnel information</legend>
	<label><span>First name: </span><input type="text" name="firstname" id="firstname"
		class="validate[required],custom[onlyLetterSp] text-input"
		value="${fbInfo.get("first_name").getAsString()}" /></label>
	<label><span>Last name: </span><input type="text" name="lastname"  id="lastname"
		class="validate[required],custom[onlyLetterSp] text-input"
		value="${fbInfo.get("last_name").getAsString()}" /></label>
	<label><span>Gender:<br/></span>
	M <input type="radio" name="gender" value="M" #{if fbInfo.get("gender").getAsString().equals("male")}checked#{/if}/>
	F <input type="radio" name="gender" value="F" #{if fbInfo.get("gender").getAsString().equals("female")}checked#{/if}/></label>
	</fieldset>
	<fieldset>
		<legend>Are you human ?</legend>
	    <label for="code">Please type the code below: </label>
	    <img src="@{Application.captcha(randomID)}" />
	    <br />
	    <input type="text" name="code" id="code" size="18" value="" />
	    <input type="hidden" name="randomID" value="${randomID}" />
	</fieldset>
	<hr/>
	<input type="submit" class="submit" value="Register" /><br />
</form>
<br />
#{/if}
#{else}
<form id="registerform" action="@{Application.processRegistration()}"
	method="POST" class="formular">
	<fieldset>
		<legend>Email</legend>
		<label><span>Email: </span><input type="text" name="email"
			id="email" class="validate[required,custom[email]] text-input"
			value="${email}" /> </label>
		<label><span>Confirm email: </span><input type="text" name="emailconf" id="emailconf"
			class="validate[required,custom[email],equals[email]] text-input"
			value="${emailconf}" /> </label>
	</fieldset>
	<fieldset>
		<legend>Password</legend>
		<label><span>Password: </span><input
			name="password" id="password" class="validate[required],minSize[6] text-input"
			type="password" /> </label><br />
		<label><span>Confirm password: </span><input name="passwordconf" id="passwordconf"
			class="validate[required],equals[password] text-input"
			type="password" /> </label><br />
	</fieldset>
	<fieldset>
		<legend>Personnel information</legend>
	<label><span>First name : </span><input type="text" name="firstname" id="firstname"
		class="validate[required],custom[onlyLetterSp] text-input"
		value="${firstname}" /></label>
	<label><span>Last name: </span><input type="text" name="lastname"  id="lastname"
		class="validate[required],custom[onlyLetterSp] text-input"
		value="${lastname}" /></label>
	<label><span>Gender:<br/></span>
		M <input type="radio" id="gender1" name="gender" 
			class="validate[required] radio"
			value="M" #{if gender.equals("M")}checked#{/if}/>
		F <input type="radio" id="gender2" name="gender" 
			class="validate[required] radio"
			value="F" #{if gender.equals("F")}checked#{/if}/></label>
	</fieldset>
	<fieldset>
		<legend>Are you human ?</legend>
	    <label for="code">Please type the code below: </label>
	    <img src="@{Application.captcha(randomID)}" />
	    <br />
	    <input type="text" name="code" id="code" size="18" value="" />
	    <input type="hidden" name="randomID" value="${randomID}" />
	</fieldset>
	<hr/>
	<input type="submit" class="submit" value="Register" /><br />
</form>
<br />
#{/else}
</div>

<script type="text/javascript">
	jQuery(document).ready(function() {
		// binds form submission and fields to the validation engine
		jQuery("#registerform").validationEngine();
	});
</script>
