%{
	if(result.size() > 0){
		for(int i=0; i < result.size(); i++){
}%
			<h3 id="topic-${result.get(i).getId()}">
				<a href="#"><span class="available-topic-title">${result.get(i).title}</span>
				<img src="${result.get(i).icon}" class="available-topic-icon"></a>
				<a href="#" class="subscribe-button">Sub</a>
			</h3>
			<div id="desc-topic-${result.get(i).getId()}">
			<p>
				<b>Id:</b><br/> ${result.get(i).id}<br/>
				<b>Description:</b><br/> ${result.get(i).content}
			</p>
			</div>
%{	
		}
	} else {
%}
			<p>No result found.</p>
%{
	}
%}