<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/jquery-ui-1.8.14.custom.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/jquery-ui-1.8.14.custom.min.js'}" type="text/javascript" charset="utf-8"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
	    <div id="top">
			<div id="logo">
				<a href="/">
					<img id="logo-img" src="@{'/public/images/play.png'}">
				</a>
			</div>
		</div>
		<div id="header" class="sectionbottom ">
			<span class="topBarDiv">Play</span>
		</div>
		<div id="content">
       		#{doLayout /}
        </div>
        
        <div id="footer">
			%{ if(session.get("userid") != null) { }%
			<a href="@{Application.logout()}">Logout</a>
			%{ } }%
        </div>
    </body>
</html>
